div {
    height:100px;
    background-color:greenyellow;
    width:100px;
}

#borderprop {
    height:400px;
    width:900px;
    border-width:5px;
    border-style:dashed;
    border-color:red;
    background-color:pink;
    text-align:center;
    border-radius:5%;
}

#paddingprop {
    height:100px;
    width:900px;
    border:5px solid purple;
    background-color:pink;
    border-radius:5px;
    padding-left:25px;
    padding-bottom:25px;
}

h4{
    margin: 25px;
    height:100px;
    width:100px;
    background-color:black;
    color:white;
    padding:25px;
}

#disprop{
    background-color:yellow;
    color:black;
    display:inline;
}