*{
    color:aliceblue;
}

h1 {
    color:aquamarine;
}

h3{
    color:red;
    
}

p{
    color:purple;
}

button{
    color:blue;
    background-color:darkgoldenrod;
}

body{
    background-color:darkgrey;

}

#idh4{
    color:crimson;
}

.myclass{
    color:deeppink;
}
